<div class="alert alert-secondary">
    <h5>👋 Example Partial View</h5>
    <p>This is a simple partial view without any model. You can edit this in <code>Views/Shared/_ExamplePartial.cshtml</code></p>
    <p>Partial views are great for:</p>
    <ul>
        <li>Reusable UI components</li>
        <li>Breaking up complex views</li>
        <li>Reducing code duplication</li>
    </ul>
</div>
